@import url("http://fonts.googleapis.com/css?family=Rokkitt:400,700");
/* line 3, ../../sass/tracks/iframe.sass */
h3 {
  font-family: "Rokkitt", serif;
  font-size: 1.7em;
}

/* line 7, ../../sass/tracks/iframe.sass */
.col-video {
  display: inline-block;
  height: 241px;
  overflow: hidden;
  margin: 7px;
  position: relative;
  width: 230px;
}
/* line 15, ../../sass/tracks/iframe.sass */
.col-video h3 {
  margin-top: 10px;
}
/* line 18, ../../sass/tracks/iframe.sass */
.col-video img {
  height: 120px;
}
